* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FABB22;
  height: 13vh;
  width: 92%;
  margin-left: 200px;
}
.logo {
  width: 100%;
  height: 100%;
  margin-left: 100px;
  background-color:white;
}
.logo-container {
  margin-left: -400px;
  height: 13vh;
  width: 40%;
  background-color: white;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav-links a {
  text-decoration: none;
  color: #28334a;
  font-weight: lighter;
  font-size: 18px;
}
.nav-links a:hover {
  color: white;
}
.nav-links li {
  list-style: none;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger div {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}
.title {
  font-size: 60px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.line {
  width: 180px;
  height: 10px;
  background-color: #FABB22;
  margin-left: 680px;
  /* margin-top: 15px; */
}
.card {
  width: 20%;
  margin-left: 200px;
  margin-top: 20px;
}
.card-photo {
  width: 100%;
}
.txt-area {
  position: absolute;
  background-color: #e4e1e1;
  margin-top: -14px;
  width: 100%;
}
.card-title {
  font-size: 25px;
  color: #3d5975;
  font-weight: 600;
  text-align: center;
}
.card-paragraph {
  font-size: 16px'
}

.card2 {
  width: 20%;
  margin-top: -238px;
  margin-left: 650px;
}
.card-photo2 {
  width: 100%;
}
.txt-area2 {
  position: absolute;
  background-color: #e4e1e1;
  margin-top: -14px;
  width: 100%;
}
.card-title2 {
  font-size: 25px;
  color: #3d5975;
  font-weight: 600;
  text-align: center;
}
.card-paragraph2 {
  font-size: 16px;
}

.card3 {
  width: 20%;
  margin-top: -238px;
  margin-left: 1100px;
}
.card-photo3 {
  width: 100%;
}
.txt-area3 {
  position: absolute;
  background-color: #e4e1e1;
  margin-top: -14px;
  width: 100%;
}
.card-title3 {
  font-size: 25px;
  color: #3d5975;
  font-weight: 600;
  text-align: center;
}
.card-paragraph3 {
  font-size: 16px;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #FABB22;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55.8%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    margin-right: -10px;
    z-index: 11;
  }
  .logo {
    margin-left: 20px;
  }
  .logo-container {
    display: block;
    margin-left: -370px;
    width: 50%;
  }
  .nav-links li {
    opacity: 1;
  }
  .hamburger {
    display: block;
    margin-left: -50px;
  }

  .title {
    margin-left: -120px;
    margin-top: -10px;
    font-size: 40px;
  }
  .line {
    margin-left: 40px;
    margin-top: -10px;
  }
  .card {
    width: 40%;
    margin-top: 10px;
    margin-left: 25px;
  }
  .card-photo {
    width: 120%;
  }
  .txt-area {
    width: 120%;
  }
  .card-title {
    width: 150%;
    height: 35%;
    margin-left: -80px;
  }

  .card2 {
    width: 40%;
    margin-top: 250px;
    margin-left: 25px;
  }
  .card-photo2 {
    width: 120%;
  }
  .txt-area2 {
    width: 120%;
  }
  .card-title2 {
    width: 150%;
    height: 35%;
    margin-left: -80px;
  }
  .card3 {
    width: 40%;
    margin-top: 250px;
    margin-left: 25px;
  }
  .card-photo3 {
    width: 120%;
  }
  .txt-area3 {
    width: 120%;
  }
  .card-title3 {
    width: 150%;
    height: 35%;
    margin-left: -80px;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
